html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100%;
}

a {
    color: inherit;
}

input,
p {
    margin: 0;
    padding: 0;
}

code {
    font-size: 1rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px #000 inset;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
    border-radius: 5px;
}

#preview {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
}

#title {
    font-family: "Lobster";
    font-size: 6rem;
}

#subtitle {
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

section#input_ranges {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#input_ranges>table {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px #000 inset;
    color: #fff;
    padding: 2rem;
    border-radius: 5px;
}

footer {
    color: #fff;
    position: absolute;
    bottom: 0.5rem;
}

footer a {
    color: inherit;
}

tr.row {
    height: 32px;
    line-height: 32px;
}

input[type="text"] {
    width: 40px;
}